h1{
    text-align: center;
}

.title h1{
    margin: 10% 0 10% 0;
    font-size: 60px;
}

div.title{
    width: 45%;
    margin: auto;
}

.faq{
    width: 75%;
    margin: auto;
}

p{
    margin: 0.5% 0 1% 0;
}

.about{
    background-color:rgb(43, 48, 53);
}

.about h1{
    margin-top: 300px;
    padding-top: 20px;
    color: aliceblue;
}
.card{
    
    display:inline-block;
    margin:20px;
   overflow:hidden ;
}

.card p{
    color: black;
}
