.container{
    margin-top: 50px;
}

img{
    height: 80vh;
    margin:auto;
}

#background{
    padding:30px;
    background-color:rgb(43, 48, 53);
}

.carousel-inner h1,p{
    color: aliceblue;
}

.carousel-inner p{
    font-size: 30px;
} 

#info p{
    
    color: black;
}

.video{
    padding: 80px;
    padding-top: 0%;
    padding-bottom: 0%;
}

iframe{    
    border-radius: 20px;
    margin-top: 100px; 
    margin-bottom: 100px;
}

.videocontainer{
    background-image:url(https://4kwallpapers.com/images/wallpapers/outrun-neon-dark-background-purple-1920x1080-4523.jpg);
    color:rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
}

.videocontainer iframe{
    max-width: 50%;
}

.aboutcontainer{
    background-color:rgb(43, 48, 53);
}

.aboutcontainer h1{
    padding-top: 20px;
    color: aliceblue;
    text-align: center;
}

.card{
    
    display:inline-block;
    margin:20px;
   overflow:hidden ;
}

.card p{
    color: black;
}
