.card{
    display:inline-block;
    margin:20px;

}

#procards{
    margin: 15px;
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(172, 255, 47, 0.164);
}




#conscards{
    margin: 15px;
    border-radius: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: rgba(160, 62, 62, 0.192);
}

h1{
    padding: 10px;
    margin: 20px;
    background-color: rgb(43, 48, 53);
    color: aliceblue;
}

h3{
    padding: 20px;
    margin: 20px;
    background-color: aliceblue;
}

.hero img{
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-height: 100vh;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card img{
    max-height: 20vh;
}